#navbar-no-margin-bottom{
    margin-bottom: 0 !important;
}

.jumbotron{
    text-align: center;
}

#hero{
    display: flex;
    color: white;
    font-weight: bold;
    height: calc(100vh - 52px);
    justify-content: center;
    align-items: center;
    background-image: url('../img/bg1.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

::-webkit-scrollbar{
    display: none;
}
